#app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding: 50px 10px;
  background-color: #0c131d;
  overflow-x: scroll;
  white-space: nowrap;
}

#project-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.projects {
  min-width: 270px;
  margin: 5px;
  background-color: #ebecf0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.projects.droppable{
  background-color: rgba(235, 236, 240, 0.5);
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 8px;
  color: #182a4d;
}

.projectHeader button {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.projectItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin: 4px 8px;
  padding: 0 8px;
  border-radius: 5px;
  color: #0c131d;
  line-height: 56px;
}

.projectItem.droppable{
  opacity: 0.5;
}

.projectItem button {
  border: none;
  background: transparent;
  color: #0c131d;
  font-weight: bold;
  cursor: pointer;
}

.addItems {
  padding: 8px;
}

.addItems p {
  cursor: pointer;
}

.addItems input {
  height: 36px;
  margin-top: 8px;
  border: 4px solid rgba(3, 105, 167, 0.8);
  border-radius: 3px;
}

.addItems input:focus {
  outline: none;
}

.addItems button {
  height: 36px;
  background-color: rgba(3, 105, 167, 0.8);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.addItems button:hover {
  background-color: rgba(3, 105, 167, 1);
}


.addProjects {
  min-width: 270px;
  margin: 5px;
  padding: 8px;
  background-color: rgba(90, 94, 100, 0.5);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.addProjects input {
  height: 36px;
  margin-top: 8px;
  border: 4px solid rgba(3, 105, 167, 0.8);
  border-radius: 3px;
}

.addProjects input:focus {
  outline: none;
}

.addProjects button {
  height: 36px;
  background-color: rgba(3, 105, 167, 0.8);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.addProjects button:hover {
  background-color: rgba(3, 105, 167, 1);
}